<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joo.dayo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.LogInActivity"/>
        <activity
            android:name=".activity.JoinActivity"
            android:label="회원가입" />
        <activity
            android:name=".activity.MainActivity"
            android:label="메인화면" />
        <activity
            android:name=".activity.SettingPageActivity"
            android:label="설정" />
        <activity
            android:name=".activity.UpdatePwdActivity"
            android:label="비밀번호 수정" />
        <activity android:name=".activity.WritePostActivity"
            android:windowSoftInputMode="adjustPan"
             android:label="글쓰기" />
        <activity android:name=".activity.FolderPostActivity"
            android:label="폴더 별 사진" />

    </application>

</manifest>